:root{
  --bg-oscuro: #212529;
  --amarillo: #f7a109;
  --amarillo-oscuro:#5c4601;
}
body{
  background-color: var(--bg-oscuro);
  min-height: 100vh;
  padding: 0;
}
.gradiente{
  background: linear-gradient(350deg, var(--amarillo) 3%, var(--amarillo-oscuro) 13%, var(--bg-oscuro) 30%);
}
.logo-navbar{
  width: 15rem;
}
section {

}
hr{
  width: 90%;
  height: 2px;
  margin-left: auto !important;
  margin-right: auto !important;
}


.borde-blanco{
  border: solid 1px whitesmoke;
}